.animation-style-button:active{
  transform: translateY(0.2em);
}

.animation-style-button:hover{
  background-color: #BE185D;
}

.animation-style-button:disabled{
  opacity: 0.6;
}

.animation-style-button:focus{
  box-shadow: 0px 0px 0px 3px #60A5FA;
}