@import url(reset_project.css);
@import url(typography.css);
@import url(containers_and_sections.css);
@import url(global_project.css);
@import url(button.css);

.section-header{
  background-color: var(--background-section-1);
}

.container-header-desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.header-mobile-1st-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.right-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  
}

.right-header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-left: 5px;
}

header span{
  margin-left: 5px;
}

.right-header li{
  list-style: none;
}

.right-header a{
  text-decoration: none;
  color: var(--action-color);;
}

.button-header{
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--action-color);
  color:var(--button-text-color);
}

.container-header-mobile img{
  height: 16px;
}

@media screen and (max-width:600px) {
  .container-header-desktop{
    display: none;
  }
  .mobile--menu{
    display: none;
  }
  .mobile--menu--show{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .mobile--menu--show ul{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width:600.01px) {
  .container-header-mobile{
    display: none;
  }
 
}

.section-main{
  background-color: #F3F4F6;
}

.section-main-container{
  text-align: center;
}

.section-main-container h1{
  margin-bottom: 4px;
}

.section-main-container h1 + p{
  margin-bottom: 32px;
}

.button-main{
  margin-top: 32px;
  padding: 14px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--action-color);
  color:var(--button-text-color);
  width: 100%;
}

.form-container{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.input-label{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #111827;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.column-inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.check-box-input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.check-box-input p{
  padding-left: 26px;
  opacity: 0.5;
}