body {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-style: light;
  background: #F3F4F6;
  color: #111827;
}

.head1 {
  background-color: hsl(218, 6%, 76%);
}

.head2 {
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}


.container ul {
  margin-bottom: 24px;
}

p, blockquote, .container li {
  line-height: 2rem;
  font-size: 1.125rem;
  font-weight: 300;
}

p strong{
  font-weight: 600;
}


p {
  margin-top: 24px;
  margin-bottom: 24px;
}

p a {
  color: #BE185D;
  font-weight: 400
}

.container blockquote{
  font-weight: 400;
  padding: 16px 18px 16px 18px;
  margin-top: 24px;
  margin-bottom: 36px;
  background-color: rgba(214, 211, 209, 1);
  font-style: italic;
  border-radius: 8px;
}

figure img {
  margin-top: 32px;
  border-radius: 8px;
}

figure figcaption {
  margin-top: 16px;
  margin-bottom: 32px;
}

.container{
  min-width: 343px;
  max-width: 736px;
  padding-right: 16px;
  padding-left: 16px;
  margin: auto; 
}

.container h1 {
  line-height: 2.5rem;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 32px;
  font-style: normal;
}

.container h2 {
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 1.875rem;
  margin-top: 56px;
  margin-bottom: 24px;
  font-style: normal;
}

.section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.Blackbox {
  background: #44403C;
  text-align: center;
  color: white;
  line-height: 2.25rem;
  font-size: 1.875rem; 
  padding-top: 16px;
  padding-bottom: 16px;
}


.head3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.right-bar {
  display: flex;
  align-items: center;
}

.bar-links {
  display: flex;
  list-style: none;
  gap: 8px;
}
