.section-sm{
  margin-top: 32px;
  margin-bottom: 32px;
}

.section-md{
  margin-top: 48px;
  margin-bottom: 48px;
}

.section-lg{
  margin-top: 96px;
  margin-bottom: 96px;
}

.section-xl{
  margin-top: 144px;
  margin-bottom: 144px;
}

.padded-section-customized{
  padding-top: 16px;
  padding-bottom: 16px;
}

.padded-section-sm{
  padding-top: 32px;
  padding-bottom: 32px;
}

.padded-section-md{
  padding-top: 48px;
  padding-bottom: 48px;
}

.padded-section-lg{
  padding-top: 96px;
  padding-bottom: 96px;
}

.padded-section-xl{
  padding-top: 144px;
  padding-bottom: 144px;
}

.container-sm{
  max-width: 640px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 343px;
  margin-left: auto;
  margin-right: auto;
}

.container-md{
  max-width: 768x;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 343px;
  margin-left: auto;
  margin-right: auto;
}

.container-lg{
  max-width: 1024px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 343px;
  margin-left: auto;
  margin-right: auto;
}

.container-xl{
  max-width: 1280px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 343px;
  margin-left: auto;
  margin-right: auto;
}